.card-survey-name {
  font-size: 14px !important;
  font-weight: bold;
}
.card-respondent-target {
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #27AE60;
}
.card-description-answer {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #828282;
  width: 9rem;
  padding-left: 1rem;
}
