.dialog-delete-title {
  font-size: 1.5rem !important;
  line-height: 30px;
  text-align: center;
  padding: 15px 58px 10px;
}

.dialog-img-delete {
  padding-top: 3rem;
  padding-bottom: 2rem;
  margin: auto;
  width: 30%;
}
