.background-landing-page {
background-color: #e0e0e0;
}
.main-card-landing-page {
margin: 10px 120px 30px 120px;
height: 500px;
padding: 100px 10px;
}
.header-landing-page {
padding: 45px;
}
.title-page-landing-page {
padding: 5px 20px;
font-size: 24px;
color: white;
font-weight: bold;
line-height: 29px;
}
.title-page-landing-page-mobile {
    font-size: 16px;
    color: white;
    padding-left: 5px;
}
.call-center-landing-page {
color: white;
font-size: 16px;
margin-left: 10px;
margin-right: 40px;
}
.pusat-bantuan-landing-page {
color: white;
font-size: 16px;
margin-left: 10px;
}
.float-right-landing-page {
float: right;
}
.font-product-sans-landing-page {
font-family: "Product Sans" !important;
}
.card-title-landing-page {
font-size: 36px;
line-height: 44px;
}
.card-text-landing-page {
font-size: 16px;
line-height: 24px;
}
.full-landing-page {
background: #27ae60;
}
.negative-landing-page {
margin-top: -50px;
}
.header-landing-page-mobile {
    display: none;
}
.text-card-main {
    display: block;
}
.text-card-main-mobile {
    display: none;
}
.margin-20 {
    margin: 20px;
}
.magrin-left-20 {
    margin-left: -20px;
}
.margin-right-20 {
    margin-right: 20px;
}
@media (max-width: 1199px) and (min-width: 960px) {

}
@media (max-width: 768px) and (min-width: 320px) {
.main-card-landing-page {
    margin: 0px;
    height: 500px;
    padding: 100px 10px;
    }
}

@media (max-width: 588px) and (min-width: 320px) {
.main-card-landing-page {
    margin: 0px;
    height: 500px;
    padding: 100px 10px;
    }
.header-landing-page {
    display: none;
    }
.header-landing-page-mobile {
    display: block;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    }
.text-card-main {
    display: none;
}
.text-card-main-mobile {
    display: block;
    margin-top: 20px;
}
}
